<header id="globalHeader">
	<div class="container">
		<div class="menuBtn col s2 topset-0">Menu1</div>
		<div class="menuBtn col s2 topset-0">Menu2</div>
		<div class="col s4 topset-0">
			<img id="globalLogoSml" src="" data-src="{{imgPrefix}}img/global/logo-51x44.png"/>
		</div>
		<div class="menuBtn col s2 topset-0">Menu2</div>
		<div class="menuBtn col s2 topset-0">Menu2</div>
	</div>
	<div class="headerLockup col s8 offset-s2">
		<img id="globalLogoLrg" src="" data-src="{{imgPrefix}}img/global/logo.png"/>
	</div>
</header>
