<header id="globalHeader">
	<div class="container">

		<a href="/stephenutting.com/construct/">
			<div class="menuBtn col s2 topset-0"><p>Home</p></div>
		</a>

		<div class="menuBtn col s2 topset-0"><p>Contact</p></div>

		<div class="col s4 topset-0 center">
			<a href="/stephenutting.com/construct/">
				<img id="globalLogoSml" src="" data-src="{{imgPrefix}}img/global/logo-51x44.png" class="opac0"/>
			</a>
		</div>

		<div class="menuBtn col s2 topset-0"><p>Previous</p></div>

		<div class="menuBtn col s2 topset-0"><p>Next</p></div>

	</div>
	<div class="headerLockup col s8 offset-s2 center">
		<a href="/stephenutting.com/construct/">
			<img id="globalLogoLrg" src="" data-src="{{imgPrefix}}img/global/logo.png"/>
		</a>
	</div>
</header>
