
.dropShadow {
	box-shadow: 0.01em 0.01em 0.01em #999999;
}

.curveEdges {
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	-o-border-radius: 1em;
	border-radius:	1em;
	
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	
}

.tightCurveEdges {
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-o-border-radius: 0.5em;
	border-radius:	0.5em;
	
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	
}

.textShadow{
	text-shadow: 0.01em 0.01em 0.01em #999999;
}

a:link {
    text-decoration: none;
}

*:focus {
    outline: none;
}

.goToHome{
	text-decoration: none;
}

.alfryd_Img{
	width: 100%;
	height: 100%;
}

img {border: 0;}

.rightFloat{float:right;}
.leftFLoat{float: left;}

h1 {font-size: 4em;}
h2 {font-size: 2.5em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1em;}
/*
.redText{	color: #ff7373;}
.whiteText{	color: #fff;}
.blueText{	color: #4399FF;}
.lGreenText{color: #a6e2e2;}
.greenText{	color: #3bd0d7;}
*/
/*.whiteBox{	background-color: #fff;}	/*white*/
/*.lGreenBox{	background-color: #a6e2e2;} /*light green*/
/*.greenBox{	background-color: #3ad0d6;} /*green*/
/*.dGreenBox{	background-color: #3BD0D7;} /*dark green*/
/*.redBox{		background-color: #ff7373;} /*red*/
/*.blueBox{		background-color: #4399ff;} /*blue*/



.primaryBox{	background-color: #ff7373;} /*red	#ff7373*/
.primaryText{			   color: #ff7373;}

.secondaryBox{	background-color: #4399ff;} /*blue	#4399ff*/
.secondaryText{			   color: #4399ff;}

.quaternaryBox{	background-color: #3ad0d6;} /*green	#3ad0d6*/
.quaternaryText{		   color: #3ad0d6;}

.quinaryBox{	background-color: #a6e2e2;} /*light green	#a6e2e2*/
.quinaryText{			   color: #a6e2e2;}

.senaryBox{		background-color: #3BD0D7;} /*dark green	#3BD0D7*/

.whiteBox{	background-color: #fff;}	/*white*/
.whiteText{	color: #fff;}




.hoverBlue:hover{color: #4399FF !important;}
.hoverWhite:hover{color: #fff !important;}


.centered{
	/*margin:0 auto;*/
	text-align: center;
}



