/*
******************************************************
				CSS FOR TWEETYBYTE
******************************************************
*/

@charset "UTF-8";
/* CSS Document */

@font-face {
   font-family: 'defaultFont';
    src: url('./font/BebasNeueRegular.otf'); /*URL to font*/
    src: url('./font/bebasneueregular-webfont.eot');
    src: url('./font/bebasneueregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/bebasneueregular-webfont.woff') format('woff'),
         url('./font/bebasneueregular-webfont.ttf') format('truetype'),
         url('./font/bebasneueregular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;



}

/********** GLOBAL *********/
html{
	height:100%;
}

body {
	font-family: 'defaultFont'; /*this changes all font in page*/
	border: 0 none;
	background-color: #fff;
	margin: 0;
	/*padding-bottom: 2em;*/
	min-height:100%;
	position: relative;
	
	opacity: 0;

}

#discalimer{
	font-family: 'Montserrat', sans-serif;
	font-size: 0.7em;
	margin-bottom:1.2em;
	display: none;
	margin-top: 3.2em;
	padding-bottom: 6.5em;
}

#theModules{margin:0 auto 2em;}

/********** CORE *********/

#container {
	width:100%;
	margin: 0 auto;
	max-width: 1200px;
	min-width: 320px;
	padding-bottom: 11.5em;
	

}

input {
	border:0px;
	width: 80%;
	margin-top:0.2em;
	margin-bottom:0.1em;
	font-size: 1.3em;
	min-height: 1.5em;
   line-height: 1.7em;

}

.mainModule {
	width:100%;
	position:relative;
	margin: 0 auto;
}


/********** HEADER *********/
#header {
	position: fixed;
	/*background-color: #ff7373;*/
	height:1.7em;
	width: 100%;
	padding: 0.3em;
	z-index:100 ;
	text-align: center;
	overflow: hidden;
	top: 0;
	left: 0;
}

.header p{
	color: white;
	font-size: 1.5em;
	display: inline-block;
	margin: 0 1em;
	position: relative;
	top: -0.1em;
}

.socialCircle{
	width:1.5em;
	height:1.5em;
	cursor: pointer;
	display: inline-block;
}

.socialLinks{
	display: inline;
	margin-right: 0.4em;
	float:right;
}

.headerBlock{
	margin: 0.1em 0;
	min-width: 300px;
}

.headerDecorRight{
	width: 381px;
	height: 42px;
	right: 5%;
	position: absolute;
	top: 6px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
.headerDecorLeft{
	width: 381px;
	height: 42px;
	left: 5%;
	position: absolute;
	top: 6px;
}

#switchThemeBtn{
	/* position: absolute; */
	/* display: inline; */
	/* margin-right: .4em; */
	margin: 0 auto;
	/* right: 12px; */
	/* width: 90px; */
	height: 30px;
	overflow: hidden;
	margin-top: 6px;
	cursor: pointer;
	text-align: center;
}

#switchThemeBtn h5{
	margin: 0;
	
}

#toggleSwitchBg{
	width: 40px;
	height: 50%;
	background: #a6e2e2;
	margin: 0 auto;
}
#toggleSwitch{
	width: 18px;
	height: 100%;
	background: #3bd0d7;
	position: relative;
	float: right;
}

#switchThemeBtn.off #toggleSwitch{
	background: #4399ff;
	float: left;
}

.toggleCurves{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius:	5px;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


/********** INTRO *********/

#introLogo{
	position:relative;
	width:14em;
	height:	14em;
	margin: 0 auto;
	margin-top: 7em;
	
}

#logoLoaderDesktop{
	background-repeat: no-repeat;
	height:15em;
	margin: 0 -100% 5em -100%;
	display: none;
}

#loaderCog{
	-webkit-animation: rotation 4s infinite linear;
    -webkit-animation-play-state: paused; /* Safari and Chrome */
    animation-play-state: paused;
}

#loaderCogMask{
	display: block;
	width: 50%;
	right: 3px;
	height: 50%;
	top: -16px;
}

.loaderCog{
	position: absolute;
	background-repeat: no-repeat;
	width:100%;
	height:100%;
}

#alfryd_alfrydLoader1{
	position: absolute;
	background-repeat: no-repeat;
	width:50%;
	height:45%;
	top:60%;
	left:-30%;

}

#alfryd_alfrydLoader2{
	position: absolute;
	background-repeat: no-repeat;
	width: 13em;
	height: 12em;
	top: -8.3em;
	left: 3.6em;
}

#alfryd_alfrydLoader3{
	position: absolute;
	background-repeat: no-repeat;
	width: 150%;
	height: 50%;
	top: -24%;
	left: -25%;
}

#logoText{
	display: block;
	margin: 24% 18%;
	width: 9em;
	height: 9em;
}


#logoText h2{
	font-size: 3.1em;
}
#logoText h1{
	margin-top: -0.2em;
	font-size: 5.5em;
}

#loaderText{
	margin: 10.6em 3em;
	display: none;
	width:8em;
	height:3em;
	position: relative;
}

.cogText{
	position: absolute;

	text-align: center
}

.cogText h1, h2, h3{
	margin:0%;
}

@-webkit-keyframes rotation {
    from {
    	-webkit-transform: rotate(0deg);
    	-o-transform: rotate(0deg);
    	-moz-transform: rotate(0deg);
    	transform: rotate(0deg);

    }
    to   {
    	-webkit-transform: rotate(359deg);
    	-o-transform: rotate(359deg);
    	-moz-transform: rotate(359deg);
    	transform: rotate(359deg);
    }
}


/********** INSTRUCTIONS *********/

#instruct{
	text-align: center;
	margin-top: 3em;
}
#instructTitle{
	font-size: 2.6em;
}
#instructText{
	font-size: 1.1em;
	margin: 1% -1em;
	min-height: 2em;
	min-width: 7em;
	font-family: 'Montserrat', sans-serif;
}
#instructTail{
	margin-bottom: 5%;
	min-height: 2em;
	min-width: 7em;
}



/********** ERROR *************/
#errors{
	display:none;
}


#alfryd_errorMessage{
	width: 80%;
	height:20%;
	margin:2em auto;
	display:none;
}

#alfryd_errorMessageMobile{
	width: 80%;
	height:20%;
	margin:2em auto;
	display:none;
}


/********** INPUT MODULE *********/
.inputModule{
	margin-top: 1.5em;
	display: block;
	float:left;
	padding: 1%;
	width:14em;
}

#inputTitle{
	font-size: 1.3em;
}

.bigButton {
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
	margin: 0.7em auto 0;
	height: 3em;
	/*min-width: 14em;*/
	max-width: 20em;
}

.bigButton:hover {
	background-color: #a6e2e2;
}

.inputField {
	position:relative;
	max-width: 20em;
	margin: 1em auto 0;
	height: 3em;
	width:100%;
}

#twitterName1:focus::-webkit-input-placeholder { color:transparent; font-family: 'Montserrat', sans-serif;}
#twitterName1:focus:-moz-placeholder { color:transparent; font-family: 'Montserrat', sans-serif;} /* Firefox 18- */
#twitterName1:focus::-moz-placeholder { color:transparent; font-family: 'Montserrat', sans-serif;} /* Firefox 19+ */
#twitterName1:focus:-ms-input-placeholder { color:transparent; font-family: 'Montserrat', sans-serif;} /* oldIE ;) */

::-webkit-input-placeholder {
font-size: 0.8em;
   text-align: center;
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
	font-size: 0.8em;
   text-align: center;
   color: white;
   }

::-moz-placeholder {  /* Firefox 19+ */
font-size: 0.8em;
   text-align: center;
   color: white;
   }

:-ms-input-placeholder {
	font-size: 0.8em;
   text-align: center;
   color: white;
   }

.inputModule h3,
.inputModule p{
	font-size: 1.8em;
	margin: 2% 1% 3% 1%;
	padding-top: 3%;
}
 
.inputBtn{
	width:2em;
	height:2em;
	text-align: center;
	margin: 0.5em auto;
	cursor: pointer;
	
}
.inputBtn h2{
	margin:0;
	font-size: 2em;
}
.removeUserBtn{
	float:right;
	position: relative;
}
.removeUserBtn::after {
	content: "-";
	font-size: 2.7em;
	color: white;
	margin: 0;
	padding: 0;
	position: absolute;
	top: -4px;
	left: 10px;
	bottom: 0;
	line-height: 1em;
	height: 100%;
}
#removeUser1{
	display: none;
}
.userInput{
	float:left;
	width: 80%;
}

#topInput userInput{
	width:100%;
}

#addUserBtn{
	display:none;
}

/************SAVEBAR*************/
#saveBar{
	display: none;
	width: 90%;
	margin: 0 auto;

}

.mobileMenu{
	display:block;
}

.mobileMenu:hover {
	background-color: #3ad0d6
	/*color: #3bd0d7;*/
}

#saveBarLine{
	/*background-color: #a6e1e1;*/
	width: 100%;
	height: 0.7em;
	margin-top: 1em;
	}

#saveBarTextBox{
	width: 6em;
	text-align: center;
	margin: -1.1em auto;
	padding:0 1%;
	margin-bottom: 1.1em;
	position: relative;
	z-index: 2;
}

.dividerDecor{
	width: 6em;
	text-align: center;
	margin: -4.8em auto;
	position: relative;
	z-index: 1;
	margin-bottom: -2.2em;	
	height: 93px;
}

.saveBtn{
	padding: 1em 0;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	width: 10em;
	height: 10em;
}

.saveBtn:hover {
	text-fill-color: #3ad0d6
}

/*************FOOTER************/
#footerBar{
	height:11.5em;
	width:100%;
	position:absolute;
	bottom: 0;
	margin:0 auto;
}

#footerBar img{
	height:100%;
	width:100%;
}

#footerIcons{
	width:80%;
	min-width:310px;
	/*overflow: hidden;*/
	padding-top: 0.5em;
	margin: 0 auto;
}
.footerSeg{
	float:left;
	cursor: pointer;
	width:33%;
	height:6em;
}
.footerSeg p {font-size:0.8em ;}

.footerIcons img{
	height:100%;
	width:100%;
}

#alfryd_footerLogo,
#alfryd_footerTwitter,
#alfryd_footerMail {
	width: 100%;
	height: 85%;
	margin: 0.6em auto 0 0;
}
#alfryd_footerTwitter,
#alfryd_footerMail {
	margin-top: 1.3em;
}


.footer-lovingly{
	font-family: 'Montserrat', sans-serif;
	font-size: 0.7em;
	margin-top: 0.7em;
	white-space: nowrap;
}

.footer-hashtag a{
	margin-top: 3px;
	text-decoration: none;
	color:#fff;
}

.footer-hashtag a:hover{
 	color:#4399FF;
}
.footer-lovingly a{
	text-decoration: none;
	color:#fff;
}

.footer-lovingly a:hover{
 	color:#4297ff;
}

.mobileSN{
	visibility: hidden;
	text-align: center;
}
.desktopSN{
	visibility: visible;
}

.alfryd_footerDecorRight,
.alfryd_footerDecorLeft{
	width: 93px;
	height: 120px;
	position: absolute;
	top: 12%;
}
.alfryd_footerDecorRight{
	right: 33%;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.alfryd_footerDecorLeft{
	left: 33%;
}
