
/********** TOTAL TWEETS *********/

.totalTweetsBox{
	/*background-color: #a6e2e2;*/
}
.totalTweetsBox h2{
	margin-bottom: -0.23em;
	font-size: 2.8em;
	position:relative;
	z-index: 0;

}
.totalTweetsBox h1{
	margin:0 auto;
}
.totalTweetsLayout{
	margin: 5%;
	padding: 1%;
}
.totalTweetsLayout2{
	margin: 4%;
}

.alfryd_totalTweets{
	width: 4em;
	height: 4em;
	background-repeat: no-repeat;
	float: right;
	margin-top: -3.1em;
	margin-right: -2.2em;
	margin-bottom: -2.5em;
	position: relative;
	z-index: 1;
}
.totalTweetResult{
	width: 43%;
	float: right;
	margin: 2%;
	padding: 0%;
}



.dottedLine{
	float:left;
	margin:0 auto;
	margin-top: -0.3em;
	margin-bottom: 0.3em;
	width:100%;
	height:0.6em;
}

#totalTweetResizableOverflow{
	display: none;
}
