
/********** USERMENTIONS *********/	

.usrMention-container {
	/*float: left;*/
	position: absolute;
	top: 5em;
	width: 100%;
	margin-left: 2%;
	text-align: center;
}

.usrMentTextBox{
	margin: 4.8em auto;
	margin-left: 5%;
	position: absolute;
	width: 95%;
}

.usrMentBox{
	width: 635px ;
	height: 580px;
}


#usrMentResizable1{
	padding-top: 0.3em;
	font-size: 1.3em;
}
#usrMentResizable2{
	padding-top: 1.2em;
	font-size: 1em;
}
#usrMentResizable3{
	padding-top: 1.7em;
	font-size: 0.9em;
}

.alfryd_userMention1{
	background-repeat: no-repeat;
	width: 270px;
	height: 230px;
	float: left;
}

