
/********** FOLLOWERS & FOLLOWING *********/

#followersModule p{
	float:left;
}

.followersModule-alfryd_followers{
	width: 8em;
	height: 7.9em;
	float: left;
	margin-top: -11px;
}

.followersModule-followNumBox {
	/*background-color: #3BD0D7;*/
	text-align: center;
	height: 3.3em;
	float: right;
	margin-right: 0;
	margin-top: -0.2em;
}

#followersModule h2{
	margin:0;
	padding-top: 0.1em;
}

#followersTitle{
	/*background-color: #A6e2e2;*/
	width: 44%;
	padding-left:0.4em;
}

.followLineVert{
	width:0.2em;
	height:9em;
	float:left;
}

.followLineHoriz{
	height:0.2em;
	width:8em;
	/*background-color: #A6E2E2;*/
	float:left;
	margin-bottom: 0.2em;
}

.followersModule-total{font-size: 1.8em;}

.followersModule-follow{
	font-size: 0.9em;
	margin-left: 0.1em;
}

.tweetieSprites_followers2{
	position: absolute;
	width: 61px;
	right: 5px;
	top: 68px;
}
.tweetieSprites_followers3{
	position: absolute;
	width: 61px;
	right: 4px;
	top: -1px;
		
}
