
/********** TWEET TIME *********/

.alfryd_tweetTime1{
	width:3.7em;
	height:4.5em;
}

.tweetTimeContainer{
	width: 35%;
	text-align: center;
	height: 4.5em;
}

.tweetTimeContainer2{
	text-align: center;
	width:35%;
	float:right;
}

#tweetTimeModule h1{
	font-size: 3em;
	margin:10% 0;
}

#tweetTimeModule h3{
	font-size: 1.2em;
	margin:0;
}

.alfryd_tweetTime{
	width:5.6em;
	height:4em;
	margin-right: -0.7em;
	margin-left: -0.3em;
	margin-top: 0.2em;
}

.alfryd_retweets4{
	width: 59%;
	height: 2em;
	float: left;
	padding-top: 0.5em;
}
.alfryd_tweetTime2{
	position: absolute;
	width: 105px;
	top: 0;
	left: 67px;
	height: 25px;
}