
/********** TWEET DAY *********/

.dayStat{
	display: inline;
	float:left;
	margin:0;
	padding-right: 0.1em;
}

.dayStatBar{
	padding-right:6%;
	width:70%;
	float:right;
	background-color:lightGrey;
}

.dayGraph{
	/*background-color: #3BD0D7;*/
	height: 1em;
	overflow:hidden;
	min-width: 5%;
}

#tweetDayModule h1, h2, h3, h4, p{
	margin:0;
}

#tweetDayModule h4{
	font-size: 0.9em;
}

.tweetDay-line {
	width: 100%;
	height: 0.6em;
	/*background-color: #A6E2E2;*/
	float: right;
}

.tweetDay-graphBox{
	float:left;
}

.tweetDay-textBox{
	float:right;
	margin-top:0.5em;	
}

.tweetDay-statModule{
	margin-top: 0.79em;
	float: left;
	padding: 1%;	
}

.tweetDay-title{
	padding:0.2em;
}

.tweetDay-graphReflect{
	width:80%;
	height: 40%;
	/*background-color: #A6E2E2;*/
	margin-left:0.2em;
	margin-top:2%;
}

.tweetieSprites_tweetDay2 {
	width: 88%;
	height: 1.5em;
	margin-right: 6%;
}

.tweetieSprites_tweetDay1{
	position: absolute;
	width: 276px;
	height: 42px;
	top: -18px;
	left: -3px;
}


