
/********** DATA TYPES *********/

.dataType-title{
	padding: 0.2em 0;
	margin-bottom: 1em;
	width: 100%;
}

.dataType-tweetData{
	margin-top:0.6em;
	margin: -0.8em auto 4%;
	width:70%;
	padding:0.2em;
}

.dataType-DataNum{
	font-size: 2em;
	text-align: center;
}

.alfryd_dataTypes1{
	background-repeat: no-repeat;
	width: 4.9em;
	height: 5em;
	margin: 3% -2% 1% -6%;
	float: left;
	position: relative;
	z-index: 2;
}
.alfryd2and3{
	margin-top: -1em;
}

.alfryd_dataTypes2{
	background-size: cover;
	width: 5em;
	height: 4.4em;
	margin: -27% 0% -5% 4%;
	float: left;
	position: relative;
	z-index: 2;
}

.alfryd_dataTypes3{
	background-repeat: no-repeat;
	width: 4em;
	height: 4em;
	margin: -25% 8% -3% 0%;
	float: right;
	position: relative;
	z-index: 2;
}

.alfryd_dataTypes4{
	background-repeat: no-repeat;
	width: 4em;
	height: 4em;
	margin: -25% 8% -3% 0%;
	float: right;
	position: relative;
	z-index: 2;
}

.TypeofDataGraphContainer{
	width:250px;
	height: 125px;
}

#TypeofDataGraph{
	position:relative;
	z-index: 1;
	margin-top: -1em;
}

.tweetieSprites_media5{
	width: 25%;
	position: absolute;
	top: 305px;
	left: 102px;
	height: 65px;
}

.tweetieSprites_media1{
	position: absolute;
	width: 102%;
	height: 34px;
	top: -10px;
	left: -2px;
}


