
/********** TIMES RETWEETED *********/

.alfryd_retweets{
	background-repeat: no-repeat;
	width: 100%;
	height: 166px;
	float: left;
	/* margin-bottom: -2em; */
}

.alfryd_retweets2{
	width: 16em;
	height: 4em;
	margin: 0;
}

.alfryd_retweets3{
	width: 5.8em;
	height: 4em;
	margin-right: 0.4em;
	margin-top: 0.2em;
}
#timesRetweetedModule h1{
	margin: 0;
}

#retweetResizable{
	position: absolute;
	font-size: 3.5em;
	left: 64px;
	top: 47px;
	width: 100px;
	text-align: center;
}
