

/**
 * DESKTOP VERSION
*/
@media only screen and (min-width: 769px){

	.mobileMenu{
		display:none;
	}
	.desktopMenu{
		display:block;
	}
	.span_3_of_6,
	.span_2_of_6 {

		width: 45%;
	}
	#alfryd_errorMessageMobile{display: none;}
	#alfryd_errorMessage{display: block;}
	#titleModuleNonResizable{
		display: block;
		margin-bottom: 0;
		margin-top: 0.87em;	
	}
	#titleModuleResizable{display: none;}

}


/**
 *
*/
@media only screen and (max-width: 974px) {
	#titleBox{
		max-width:590px;
	}
	.resultScreen{
		display: none;
	}
	.headerDecorLeft,
	.headerDecorRight,
	.alfryd_footerDecorRight,
	.alfryd_footerDecorLeft{
		display: none;
	}
}



/**
 * TABLET VERSION
*/
@media only screen and (max-width: 768px) {

	#alfryd_errorMessageMobile{display: none;}
	#alfryd_errorMessage{display: block;}

	#logoLoaderDesktopContainer{
		display: none;
	}

	.saveBtn{
		width:80%;
		height:8em;
		/*height:10em;*/
	}

	.mobileMenu{
		display:none;
	}
	.desktopMenu{
		display:block;
	}


	#loaderText {
		margin: 5.5em 2.9em;
	}

	#alfryd_footerLogo,
	#alfryd_footerTwitter,
	#alfryd_footerMail {
	/*height: 70%;*/
	}

	

	#titleModuleNonResizable{
		display: block;
		margin-bottom: 0;
	}
	#titleModuleResizable{display: none;}
	
	.mobileSN{
		visibility: visible;
	}
	.desktopSN{
		display: none;
	}
	#alfryd_footerTwitter, #alfryd_footerMail {
		margin-top: 0em;
	}

}


/**
 *
*/
@media only screen and (max-width: 654px) {
	#titleBox{
		max-width:270px;
	}
	#titleModuleNonResizable{display: none;}
	#titleModuleResizable{display: block;}
}


/**
 * MOBILE VERSION
*/
@media only screen and (max-width: 480px) {


	#alfryd_errorMessageMobile{display: block;}
	#alfryd_errorMessage{display: none;}

	#logoLoaderDesktopContainer{
		display: none;
	}

	

	#alfryd_alfrydLoader1,
	#alfryd_alfrydLoader2{
		display: block;
	}


	.span_1_of_3{
		margin:20px 10px;
	}

	.logoBuffer{
		height:0;
	}
	.resultScreen,
	#instructTitle,
	#instructText{
		display: none;
	}

	.inputModule h3{
		font-size: 1.5em;
		padding-top: 0.3em;
		margin: 0px -1.8em;
	}

	 .inputModule p {
		font-size: 1em;
		padding-top: 0.5em;
		margin: 0px -1.8em;

	}

	.inputModule{
		margin-top: 0;
	}

	.saveBtn{
		height:1em;
	}

	.span_1_of_3_menu {
		width: 100%;
		float:left;
	}



	.mobileMenu{
		display:block;
	}

	.mobileMenu h2{
		font-size: 1.6em;
		padding: 0.2em;
	}

	.desktopMenu{
		display:none;
	}

	#introLogo{
		width: 8em;
		height: 8em;
	}

	#introLogo h1{
		font-size: 4em;
	}

	#introLogo h2{
		font-size: 2.2em;
	}


	#alfryd_errorMessage{
		width:100%;
	}

	#container {
		padding-bottom: 12em;
	}
	#logoText {
		width: 5em;
		height: 5em;
	}


	#loaderText{
		width:5em;
		height:0.8em;
	}

	#footerLogo{
		/*width: 20%;*/

	}
	#footerTwitter,
	#footerMail{
		/*width: 40%;*/
		/*margin-top: 2em;*/
	}


	#alfryd_footerLogo{
		/*width: 4em;
		height: 4em;*/
		margin-top: 0em;
		
	}
	#alfryd_footerTwitter,
	#alfryd_footerMail {
		/* width: 7em; */
		height: 3.7em;
		margin:0 auto;
		overflow:hidden;
		
	}
	#footerBar{
		height:12em;
		width:100%;
		position:absolute;
		bottom: 0;
		margin:0 auto;
		padding-top: 0.7em;
	}



	.span_1_of_3_menu {
		width: 100%;
	}

	#introLogo {
		margin-top: 6em;
	}

	#instruct {
		margin-top: 1em;
	}

	#inputTitle {
		font-size: 1.2em;
	}

	#searchTwitter,
	.userInput{
		height: 2.5em;
	}

	#twitterName1 {
		font-size: 1em;
		min-height: 1.2em;
	}
	
	#alfryd_alfrydLoader2 {
		width: 8em;
		height: 4em;
		top: -3.5em;
		left: 2.3em;
	}
	#loaderText {
		margin: 3em 1.5em;
	}
}
