@import (reference) "include.less";

html,
body {
   margin:0;
   padding:0;
   height:100%;
   background-color: @offWhiteCustom;
}

.default-primary-color{         background: @default-primary-color; }
.accent-color{                  background: @accent-color;          }

#focusArea{
  max-width: 1000px;
}
/*
.mGrid-small { width: 200px; }
.mGrid-wide { width: 400px; }
.mGrid-tall { width: 200px; }
.mGrid-big { width: 200px; }
*/
.mGrid-small { width: 20%; }
.mGrid-wide { width: 40%; }
.mGrid-tall { width: 20%; }
.mGrid-big { width: 20%; }


.mGrid{
  background-color: #fff;
}
