@import (reference) "include.less";

html,
body {
   margin:0;
   padding:0;
   height:100%;
   background-color: @offWhiteCustom;
}

.default-primary-color{         background: @default-primary-color; }
.accent-color{                  background: @accent-color;          }

#focusArea{
  max-width: 1000px;
}

.mGrid-reg { width: 33%; }
.mGrid-lrg { width: 66%; }

@media only screen and (max-width: 940px) {
  .mGrid-reg { width: 50%; }
  .mGrid-lrg { width: 100%; }
}

@media only screen and (max-width: 480px) {
  .mGrid-reg,
  .mGrid-lrg {
	width: 100%;
	}
}

.mGrid{
  background-color: #fff;
}
