html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f6f6f6;
}
.default-primary-color {
  background: #4f4c4c;
}
.accent-color {
  background: #6a79f6;
}
#focusArea {
  max-width: 1000px;
}
.projectCards {
  background-color: grey;
}
.projHover,
.projTint {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}
.projTint {
  background-color: black;
}
.mGrid:hover .projHover {
  opacity: 1;
}
.mGrid:hover .projTint {
  opacity: 0.5;
}
