/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}
/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}
/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1;
  /* For IE 6/7 */
}
/*  GRID OF TWELVE  */
.s12 {
  width: 100%;
}
.s11 {
  width: 91.53%;
}
.s10 {
  width: 83.06%;
}
.s9 {
  width: 74.6%;
}
.s8 {
  width: 66.13%;
}
.s7 {
  width: 57.66%;
}
.s6 {
  width: 49.2%;
}
.s5 {
  width: 40.73%;
}
.s4 {
  width: 32.26%;
}
.s3 {
  width: 23.8%;
}
.s2 {
  width: 15.33%;
}
.s1 {
  width: 6.866%;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
  .s1,
  .s2,
  .s3,
  .s4,
  .s5,
  .s6,
  .s7,
  .s8,
  .s9,
  .s10,
  .s11,
  .s12 {
    width: 100%;
  }
}
