html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f6f6f6;
}
.default-primary-color {
  background: #4f4c4c;
}
.accent-color {
  background: #6a79f6;
}
#focusArea {
  max-width: 1000px;
}
.mGrid-reg {
  width: 33%;
}
.mGrid-lrg {
  width: 66%;
}
@media only screen and (max-width: 940px) {
  .mGrid-reg {
    width: 50%;
  }
  .mGrid-lrg {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .mGrid-reg,
  .mGrid-lrg {
    width: 100%;
  }
}
.mGrid {
  background-color: #fff;
}
