html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f6f6f6;
}
.default-primary-color {
  background: #4f4c4c;
}
.accent-color {
  background: #6a79f6;
}
#focusArea {
  max-width: 1000px;
}
.projectCards {
  background-color: grey;
}
/*
.mGrid-reg { width: 32%; }
.mGrid-lrg { width: 62%; }
.mGrid-xLrg { width: 100%; }

@media only screen and (max-width: 940px) {
  .mGrid-lrg { width: 400px; }
  //.mGrid-lrg { width: 600px; }
}

@media only screen and (max-width: 480px) {
  .mGrid-reg,
  .mGrid-lrg {
	width: 100%;
	}
}

.mGrid{
  background-color: #fff;
  min-width: 300px;
}
*/
