@import (reference) "include.less";

html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-family: 'Open Sans', sans-serif;
}

.fixedBg{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: @offWhiteCustom;
  background-image: url("../img/bgTile.jpg");
}

a {
  color:inherit;
  text-decoration: none;
  &:hover{
    color:inherit;
    text-decoration: none;
  }
}

.center{
  text-align: center;
}

.opac0{
  opacity: 0;
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.socialIcon{
  width: 90px;
  height: 90px;
  position: relative;
  float: left;
  margin-right: -40px;

  &#githubBtn{
    margin-top: 50px;
  }
  img{
    width: 100%;
    height: 100%;
  }
}
  //
  @socialBtn1000 : 50px;
  @socialMar1000 : 50px;

  @socialBtn800 :  30px;
  @socialMar800 :  30px;

  @socialBtn600 :  20px;
  @socialMar600 :  20px;

  @socialBtn400 :  10px;
  @socialMar400 :  10px;

// 800 -> 1000
@media screen and (max-width: 1000px) {
  .socialIcon{
    width: @socialBtn1000;
    height: @socialBtn1000;
    margin-right: -((@socialBtn1000/2) + @socialMar1000);
    &#githubBtn{      margin-top: (@socialBtn1000/2) + @socialMar1000; }
  }
}

// 600 -> 800
@media screen and (max-width: 800px) {
  .socialIcon{
    width: @socialBtn800;
    height: @socialBtn800;
    margin-right: -((@socialBtn800/2) + @socialMar800);
    &#githubBtn{      margin-top: (@socialBtn800/2) + @socialMar800; }
  }
}

// 400 -> 600
@media screen and (max-width: 600px) {
  .socialIcon{
    width: @socialBtn600;
    height: @socialBtn600;
    margin-right: -((@socialBtn600/2) + @socialMar600);
    &#githubBtn{      margin-top: (@socialBtn600/2) + @socialMar600; }
  }
}

// 0 -> 400
@media screen and (max-width: 400px) {
  .socialIcon{
    width: @socialBtn400;
    height: @socialBtn400;
    margin-right: -((@socialBtn400/2) + @socialMar400);
    &#githubBtn{      margin-top: (@socialBtn400/2) + @socialMar400; }
  }
}
