@import (reference) "include.less";



#focusArea{
  max-width: @maxPageWidth;
}
header{
  height: @headerHeight;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  color: @text-dark;
  background-color: @default-extraDark-grey;
  .transition(@duration:0.4s, @ease:ease-out);
  background-image: url("../img/img_headerBG.png");
  background-repeat: no-repeat;
  background-position: center;
}
.headerLockup{
  margin-top: 3em;
}


.menuBtn{
  background-color: @offWhiteCustom;
  height: @collapsedHeaderHeight;
  text-align: center;
  line-height: @collapsedHeaderHeight;
  opacity: 0.5;

  .transition(@duration:0.4s, @ease:ease-out);

  &:hover {
    opacity: 0.8;
  }
}

#siteMain{
  margin-top: @headerHeight + 2;
}

.projHomeImg{
  display: block;
  margin-left: auto;
  margin-right: auto;


}

.introduction{
  text-align: center;
}

#footer{
  height: @headerHeight;
  margin-top:  10em;
  background-color: @default-extraDark-grey;
  background-image: url("../img/img_headerBG.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  .s4{
    overflow: hidden;
    float:left;
    height: 100%;
    text-align: center;
    margin: 0 1.3%;
    //padding-top: 30px;
  }

  .footerImage{
    margin: 20%;
    height: auto;
    width: 14em;
  }

  .backupContent{
    display: none;
  }

}
.socialIcon-container{
  width: 68%;
  height: 68%;
  margin: 25% 16%;
}


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
