#projectCards {
  background-color: #1ff456;
  overflow: hidden;
  top: 1em;
  width: 100%;
}
.tagHover {
  opacity: 0;
}
.tagFilterElem {
  display: inline-block;
}
.tagFilterElem:hover .tagHover {
  opacity: 1;
}
.tagDotOuter {
  width: 12px;
  height: 12px;
  float: right;
  margin: 4px;
  cursor: pointer;
  position: relative;
  background-color: #212121;
  border-radius: 50%;
}
.tagHover {
  position: absolute;
  bottom: 100%;
}
.tagDot {
  width: 10px;
  height: 10px;
  margin: 1px;
  background-color: green;
  pointer-events: none;
  border-radius: 50%;
}
.tagDot.tagHTML {
  background-color: #536dfe;
}
.tagDot.tagCSS {
  background-color: #ff0000;
}
.tagDot.tagJS {
  background-color: #00ff00;
}
.tagDot.tagPhotoshop {
  background-color: #0000ff;
}
.tagDot.tagIllustrator {
  background-color: #ffff00;
}
.tagDot.tagAfterEffects {
  background-color: #00ffff;
}
.tagDot.tag3DModelling {
  background-color: #ffffff;
}
.tagDot.tagPhotography {
  background-color: #dc143c;
}
.tagDot.tagDrawing {
  background-color: #00008b;
}
.tagDot.tagSketching {
  background-color: #2e8b57;
}
.tagDot.tagFlash {
  background-color: #daa520;
}
.tagDot.tagGames {
  background-color: #fffff0;
}
.tagDot.tagRichMedia {
  background-color: #a52a2a;
}
.tagFilter {
  text-align: center;
}
.tagFilter .tagDotOuter {
  float: none;
  display: inline-block;
}
.mGrid {
  overflow: hidden;
  background-color: white;
}
.mGrid img {
  width: 100%;
}
.mGrid:hover .projHover-home {
  left: 50%;
}
.mGrid-reg {
  width: 33.333%;
}
/* 300px */
.mGrid-lrg {
  width: 66.666%;
}
/* 600px */
.mGrid-xLrg {
  width: 100%;
}
/* 600px */
.projTint-home,
.projCopy-home,
.projHover-home {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.projBody {
  padding: 1em;
  top: 23em;
  max-width: 60em;
  margin: 0 auto;
  background: #1ff456;
  color: #212121;
}
.projTint-home {
  opacity: 0.5;
}
.projShortBlurb-home {
  display: none;
}
.titleContainer-home {
  position: absolute;
  right: 100%;
  top: 5%;
  width: 100px;
}
.projHover-home {
  left: 100%;
  width: 50%;
}
.projHover-home .projTitle-home {
  text-align: right;
  padding: 10%;
  white-space: nowrap;
  margin-bottom: 0;
}
.projHover-home .tagContainer {
  background-color: blue;
}
.projHover-home.darkTheme .projTitle-home,
.projHover-home.darkTheme .projBlurb-home,
.projHover-home.darkTheme .projShortBlurb-home {
  color: #212121;
}
.projHover-home.darkTheme .projTint-home,
.projHover-home.darkTheme .tagDotOuter,
.projHover-home.darkTheme .projTitle-home {
  background-color: #ffffff;
}
.projHover-home.lightTheme .projTitle-home,
.projHover-home.lightTheme .projBlurb-home,
.projHover-home.lightTheme .projShortBlurb-home {
  color: #ffffff;
}
.projHover-home.lightTheme .projTint-home,
.projHover-home.lightTheme .tagDotOuter,
.projHover-home.lightTheme .projTitle-home {
  background-color: #212121;
}
@media only screen and (max-width: 45em) {
  /* 640px */
  .buffer {
    width: 0;
  }
  #focusArea {
    width: 100%;
  }
  .mGrid-reg {
    width: 49.5%;
  }
  /* 305px */
  .mGrid-lrg {
    width: 100%;
  }
  /* 600px */
  .projShortBlurb-home {
    display: block;
  }
  .projBlurb-home {
    display: none;
  }
  .projHover-home {
    left: 60%;
    width: 40%;
  }
}
@media only screen and (max-width: 30em) {
  /* 480px */
  .mGrid {
    width: 100%;
  }
}
@media only screen and (max-width: 20em) {
  /* 320px */
  #group {
    width: 100%;
    margin-left: 0;
  }
  .mGrid {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
