#projectCards {
  background-color: grey;
  overflow: hidden;
  top: 20px;
}
.mGrid {
  overflow: hidden;
  background-color: white;
}
.mGrid img {
  width: 100%;
}
.mGrid:hover .projHover-home {
  left: 50%;
}
.mGrid-reg {
  width: 33.333%;
}
/* 300px */
.mGrid-lrg {
  width: 66.666%;
}
/* 600px */
.mGrid-xLrg {
  width: 100%;
}
/* 600px */
.projTint-home,
.projCopy-home,
.projHover-home {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.projTint-home {
  opacity: 0.5;
}
.projShortBlurb-home {
  display: none;
}
.projHover-home {
  left: 100%;
  width: 50%;
}
.projHover-home .projTitle-home {
  text-align: right;
  width: auto;
  padding: 2%;
  white-space: nowrap;
  position: absolute;
  right: 100%;
  top: 5%;
}
.projHover-home.darkTheme .projTitle-home,
.projHover-home.darkTheme .projBlurb-home,
.projHover-home.darkTheme .projShortBlurb-home {
  color: black;
}
.projHover-home.darkTheme .projTint-home,
.projHover-home.darkTheme .projTitle-home {
  background-color: white;
}
.projHover-home.lightTheme .projTitle-home,
.projHover-home.lightTheme .projBlurb-home,
.projHover-home.lightTheme .projShortBlurb-home {
  color: white;
}
.projHover-home.lightTheme .projTint-home,
.projHover-home.lightTheme .projTitle-home {
  background-color: black;
}
@media only screen and (max-width: 45em) {
  /* 640px */
  .buffer {
    width: 0;
  }
  #focusArea {
    width: 100%;
  }
  .mGrid-reg {
    width: 49.5%;
  }
  /* 305px */
  .mGrid-lrg {
    width: 100%;
  }
  /* 600px */
  .projShortBlurb-home {
    display: block;
  }
  .projBlurb-home {
    display: none;
  }
  .projHover-home {
    left: 60%;
    width: 40%;
  }
}
@media only screen and (max-width: 30em) {
  /* 480px */
  .mGrid {
    width: 100%;
  }
}
@media only screen and (max-width: 20em) {
  /* 320px */
  #group {
    width: 100%;
    margin-left: 0;
  }
  .mGrid {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
